@model A4EPARC.Models.PasswordViewModel
<h2>Hello, you have been successfully added to the website!</h2>
<b>Username:&nbsp;</b>@Model.Username<br/>
<b>Password:&nbsp;</b>@Model.Password<br/>
<br/>
<p>It is recommended that you to change your password to something more secure when you next log in.</p>
