<div class="container form-horizontal">
    
    <h1 class="text-center">Thank you for participating!</h1>

</div>    

<br />
<h2 class="text-center">(you can now close this page)</h2>


<div class="form-group">
    <div class="col-md-offset-3 col-md-2 col-xs-6">
      <!--  <a class="btn btn-primary" href="/InciteSurvey/PageOne">Back to Start <span class="glyphicon glyphicon-backward"></span></a>-->
    </div>
        <br />
        <br />
</div>
