@if (Context.User.IsInRole("IsSuperAdmin"))
{
 <form id="questionform">
     <div class="panel panel-default">
         <div class="panel-heading">
             <h3 class="panel-title">Questions Admin</h3>
         </div>
         <div class="input-group col-md-6">
             @Html.Partial("_AdminSelectPartial")
         </div>
         <div id="questionlist"></div>
    </div>
 </form>
}
