<span class="input-group-btn">
    <select id="AdminSchemeSelect" class="form-control input-group-select">
        <option value="1">Adult</option>
        <option value="2">Youth</option>
        <option value="3">Exemplar</option>
        <option value="4">GLS</option>
        <option value="5">Apprentice</option>
    </select>
</span>
<span class="input-group-btn">
    <select id="AdminLanguageSelect" class="form-control input-group-select">
        <option value="en-GB">English</option>
        <option value="es">Espanol</option>
        <option value="vi">Tiếng Việt</option>
    </select>
</span>
