<span class="input-group-btn">
    <select id="AdminSchemeSelect" class="form-control input-group-select">
        <option value="1">Adult</option>
        <option value="2">Youth</option>
        <option value="3">Exemplar</option>
        <option value="4">GLS</option>
        <option value="5">Apprentice</option>
        <option value="6">Incite</option>
    </select>
</span>
<span class="input-group-btn">
    <select id="AdminLanguageSelect" class="form-control input-group-select">
        <option value="en-GB">English</option>
        <option value="es">Espanol (Spanish)</option>
        <option value="vi">Tiếng Việt (Vietnamese)</option>
        <option value="ch">中国 (Simple Chinese)</option>
        <option value="da">دری (Dari)</option>
        <option value="ar">العربية(Arabic)</option>
        <option value="hi">हिन्दी (Hindi)</option>
    </select>
</span>
