<h2>Congratulations!</h2>
<br />
<h4>Because you indicated that you are at least 18 years old, have a GED or a high school diploma, and you are collecting Unemployment Insurance, you are eligible to register for the Rethinking Job Search program.</h4>
<br />
<h4>Things to know:</h4>
<ul>Rethinking Job Search is a series of workshops.</ul>
<li>Each workshop is two hours long, occurs three times a week, for 4 weeks in a row.</li>
<li> There are a total of 12 workshops and you would be registering to attend all of them.</li>
<li>Workshops occur Monday, Wednesdays, and Fridays of each week with variable times.</li>
<h4>You may receive one job seeking activity for each workshop you attend towards your weekly unemployment insurance claims. If you attend all three workshops each week and make two direct employer contacts, you will have completed your job seeking activities for the week.</h4>
<h4>To learn more about Rethinking Job Search and to register, please click the link <a style="color:black;font-weight:lighter; text-decoration: underline" href="http://rethinkingjobsearch.org/participant-information/participant-registration/">here</a></h4>
<h4>We look forward to rethinking with you!</h4>
