<div class="nav navbar-nav navbar-right" style="padding-right:20px">
    <br />
    <select id="languageselect" style="border-radius: 3px;">
       @* <option value="en-GB">English</option>
        <option value="es">Español</option>
    <option value="vi">Tiếng Việt</option>*@
     </select>
</div>