@model A4EPARC.ViewModels.ClientViewModel

<div class="container" style="border: 5px solid; padding-left: 20px; padding-bottom: 40px; background-color: white; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;">

    <div class="row">
        <h2>AIM</h2>
    </div>
    <div class="row">
        <h4>This survey aims to improve the usefulness of support in helping currently unemployed adults realise their own goals.</h4>
    </div>
    <div class="row">
        <h4>It should take no more than 4/5 minutes, but will help to ensure that the support your advisor provides is relevant to YOU.</h4>
    </div>
    <div class="row">
        <h4>Your answers have no impact on benefits payments, so you can be completely truthful. (Your advisor will not be studying individual answers.)</h4>
    </div>
    <div class="row">
        <h4>If you have any concerns over this research, the way it is being conducted or if it causes you any distress, feel free to contact info@esherhouse.org or Serco, via www.yourworkprogramme.com</h4>
    </div>
    <div class="row">
        <h4>Many thanks for your time and participation – it is greatly valued.</h4>
    </div>
    <br />
        <div class="row float-left">
            <p style="color: #283E94">&copy;&nbsp;Esher House Pty Ltd</p>
        </div>
    </div>
    <input type="hidden" id="AcceptCheckBox" name="AcceptCheckBox" value="true">
    <br />