@{
    ViewBag.Title = "Forgotten Password";
}

    <div class="row headingMain">
    	<div class="col-6 password">
            <h1><i aria-hidden="true"></i>Forgotten Password</h1>
    	</div>
    	<div class="col-6">
    		@Html.Partial("_LogOnPartial")
        </div>
    </div>

	<div class="content">

        <div class="row">
    	    <div class="col-12">
                <p>Your password has been reset and emailed to your registered address.</p>
            </div>
        </div>

    </div><!-- .content -->