@model A4EPARC.ViewModels.ClientViewModel

<div class="container form-horizontal">

    @Html.Partial("_ResultHeader", Model)

    @Html.Partial("_InterventionGuide", Model)

    <div style="padding:2em">
        @Html.Partial("_PersonDetails", Model)
    </div>
</div>

<br />
<br />
<div class="form-group">
    <div class="col-md-offset-3 col-md-2">
        <a class="btn btn-primary" href="/Results/Index">Back to results<span class="glyphicon glyphicon-backward"></span></a>
    </div>
    <div class="col-md-offset-1 col-md-4">
        <a class="btn btn-primary" href="/Results/GeneratePdf/@Model.Id">PDF <span class="glyphicon glyphicon-download-alt"></span></a>
    </div>
    <br />
    <br />
</div>

