@model A4EPARC.ViewModels.ClientViewModel

<div class="container form-horizontal">

    @Html.Partial("_GlsInterventionGuide", Model)

    <div style="padding:2em">
        @Html.Partial("_PersonDetails", Model)
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-3 col-md-2">
        <a class="btn btn-primary" href="/Results/Index">Back <span class="glyphicon glyphicon-backward"></span></a>
    </div>
    <div class="col-md-offset-1 col-md-4">
        <!--<a class="btn btn-primary" href="/Results/GenerateGlsPdf/43080">PDF <span class="glyphicon glyphicon-download-alt"></span></a>-->

      <a class="btn btn-primary" href="/Results/GenerateGlsPdf/@Model.Id">PDF <span class="glyphicon glyphicon-download-alt"></span></a>

      @*@if (Model.ActionIdToDisplay == 1 || Model.ActionIdToDisplay == 3)
      {
        <a class="btn btn-primary" href="~/Images/Pdfs/AC3 Outcome webpage 02b - bronze_1.pdf" type='application/pdf' target="_blank">PDF <span class="glyphicon glyphicon-download-alt"></span></a>
      }
      else if (Model.ActionIdToDisplay == 2)
      {
        <a class="btn btn-primary" href="~/Images/Pdfs/AC3 Outcome webpage 02b - silver_1.pdf" type='application/pdf' target="_blank">PDF <span class="glyphicon glyphicon-download-alt"></span></a>
      }
      else if (Model.ActionIdToDisplay == 4 || Model.ActionIdToDisplay == 5)
      {
        <a class="btn btn-primary" href="~/Images/Pdfs/AC3 Outcome webpage 02b - gold_1.pdf" type='application/pdf' target="_blank">PDF <span class="glyphicon glyphicon-download-alt"></span></a>
      }*@
    </div>
    <br />
    <br />
</div>