@model A4EPARC.ViewModels.ClientViewModel
@{
    Layout = "~/Views/Shared/_BronzePdfLayout.cshtml";
}
  <div style="padding-right:7em;padding-left:7em;padding-top:5em;padding-bottom:1em; background-color:white;">
        <h4 style="color:red">WHAT THIS STUDENT IS THINKING:</h4>
        <div>
            <label style="font-size:larger;color:red">&bull;&nbsp;</label><label style="font-size:large;"> Perhaps under-informed about the course and not convinced that the Pros outweigh the Cons.</label>
        </div>
        <div>
            <label style="font-size:larger;color:red">&bull;&nbsp;</label><label style="font-size:large;"> Not completely committed and may be defensive when pressured to change.</label>
        </div>
        <div>
            <label style="font-size:larger;color:red">&bull;&nbsp;</label><label style="font-size:large;"> Expect little support for their efforts and low confidence in completing the course.</label>
        </div>    
    </div>
      
  <div style="padding-right:7em;padding-left:7em;padding-top:1em;">
      <h3 style="color:black">Study Coach Principles</h3>
      <div style="width:420px;float:left">
          <div style="padding-bottom:0em">
              <label style="font-size:large;height:30px"><span style="font-size:larger;color:red;float:left">&bull;&nbsp;</span> Need to be less intensive as too much pressuring might see them give up. Perhaps weekly calls, but keep them</label>
              <label style="font-size:large;height:30px;padding-top:0.5em"><span style="font-size:larger;float:left"></span>&nbsp;&nbsp; brief and non-confrontational.</label>
          </div>
          <div style="padding-bottom:0em">
              <label style="font-size:large;height:30px"><span style="font-size:larger;color:red;float:left">&bull;&nbsp;</span> Lectures don’t work, the goal is engagement and improving commitment to the course.</label>
          </div>
          <div style="padding-top:0.5em">
              <label style="font-size:large;height:30px"><span style="font-size:larger;color:red;float:left">&bull;&nbsp;</span> Once the “Pros” start to outweigh the “Cons” of committing to the course, you can help them start to</label>
          </div>
      </div>
      <div style="width:420px;float:left">
          <div>
              <label style="font-size:large;height:45px"><span style="font-size:larger;color:red;float:left">&bull;&nbsp;</span> Acknowledge that they might have too many things going on in their life – so help them to prioritise. Consider their</label>
              <label style="font-size:large;height:30px"><span style="font-size:larger;float:left"></span>&nbsp;&nbsp; survey answers and address their concerns.</label>
          </div>
          <div>
              <label style="font-size:large;height:30px"><span style="font-size:larger;color:red;float:left">&bull;&nbsp;</span> Remind them of why they considered doing the course in the first place.</label>
          </div>
          <div style="padding-top:0.5em">
              <label style="font-size:large;height:30px"><span style="font-size:larger;color:red;float:left">&bull;&nbsp;</span> Raise awareness of course requirements and success factors (e.g. finding private time and space in a regular</label>
              <label style="font-size:large;height:30px;padding-top:0.5em"><span style="font-size:larger;float:left"></span>&nbsp;&nbsp; schedule to study).</label>
          </div>

      </div>
    </div>   
  
    <div style="padding-right:7em;padding-left:7em;padding-bottom:43em;">
        <h3 style="color:black">Study Coach Strategies</h3>
        <div style="width:420px;float:left">
            <h4 style="color:red">1. FOCUS ON THE “PROS” </h4>
            <div style="padding-bottom:3em;">
                <label style=" font-size:large;height:30px">
                    Weigh the PROS of the course (eg ‘sense of independence’, ‘future opportunities’) vs the CONS (eg ‘it will take time and energy and I might embarrass myself’, ‘fear of failure’).
                </label>
            </div>
            <div>
                <label style="font-size:large;height:30px"><span style="font-size:larger;color:red;float:left">&bull;&nbsp;</span> Ask these students to name as many benefits of the course as they can (they’ll typically name around 3. Keep</label>
                <label style="font-size:large;height:30px;padding-top:0.5em"><span style="font-size:larger;float:left"></span>&nbsp;&nbsp; these for future reference.)</label>
            </div>
            <div>
                <label style="font-size:large;height:30px"><span style="font-size:larger;color:red;float:left">&bull;&nbsp;</span> Let them know there are double or triple that many, and challenge them to name more.</label>
            </div>
            <div>
                <label style="font-size:large;height:30px;padding-top:0.5em"><span style="font-size:larger;color:red;float:left">&bull;&nbsp;</span> Then run through your list of the Pros of the course that they might have missed out.</label>
            </div>
            <h4 style="padding-top:1em;color:red">2. ALIGN YOURSELF WITH THEM</h4>
            <div>
                <label style="font-size:large;height:30px">Say “I felt like that when I first started a course…but I persevered and achieved it in the end. My family were very proud” etc. This makes you part of their “In Group” and what you say will have more credibility. Assure them that you are there for them.</label>
            </div>
        </div>
        <div style="width:420px;float:left">
            <h4 style="color:red">3. BE FUTURE FOCUSED</h4>
            <div style="padding-bottom:1em">
                <label style="font-size:large;height:30px">Raise the student’s awareness of what they can do when they’ve completed the course – how will they feel about themselves, what will others think of them, how will their completion improve things for others in their life?</label>
            </div>
            <h4 style="color:red;padding-top:2.5em">4. START TO PLAN</h4>
            <label style="font-size:large;height:30px"><span style="font-size:larger;color:red;float:left">&bull;&nbsp;</span> Once they are starting to genuinely value what the course will do for them, you can start to plan:</label>
            <div style="padding-top:1em;">
                <label style="font-size:large;height:30px"><span style="font-size:larger;color:red;float:left">&bull;&nbsp;</span> Identify the distractions in their life – what’s likely to prevent them from finding enough study time.</label>
                <label style="font-size:large;height:30px;padding-top:0.5em"><span style="font-size:larger;float:left"></span>&nbsp;&nbsp; What are practical strategies for the student to make time</label>
                <label style="font-size:large;height:30px;padding-top:0.5em"><span style="font-size:larger;float:left"></span>&nbsp;&nbsp; and minimise distractions.</label>
            </div>
            <div>
                <label style="font-size:large;height:30px;padding-top:0.5em"><span style="font-size:larger;color:red;float:left">&bull;&nbsp;</span> Plan specific activities for the first part of the course.</label>
            </div>
            <div>
                <label style="font-size:large;height:30px"><span style="font-size:larger;color:red;float:left">&bull;&nbsp;</span> Set SMALL STEPS – highly achievable ones – and measure achievement of these. This will build a</label>
                <label style="font-size:large;height:30px;padding-top:0.5em"><span style="font-size:larger;float:left"></span>&nbsp;&nbsp; perception of “self-efficacy” in the student –</label>
                <label style="font-size:large;height:30px;"><span style="font-size:larger;float:left"></span>&nbsp;&nbsp; they can achieve what they set their mind to.</label>
            </div>
        </div>
    </div>
@Html.Partial("_PdfDetailsPartial", Model)