@model A4EPARC.ViewModels.ClientViewModel
@{
    Layout = "~/Views/Shared/_GoldPdfLayout.cshtml";
}
  <div style="padding-right:7em;padding-left:7em;padding-top:5em;padding-bottom:1em; background-color:white;">
        <h4 style="color:#69CDA2">WHAT THIS STUDENT IS THINKING:</h4>
        <div>
            <label style="font-size:larger;color:#69CDA2">&bull;&nbsp;</label><label style="font-size:large;"> Pros of completing the course outweigh the Cons: they’re likely to complete…with your help.</label>
        </div>
        <div>
            <label style="font-size:larger;color:#69CDA2">&bull;&nbsp;</label><label style="font-size:large;"> They are pretty confident and need some only light student support.  </label>
        </div>
        <div>
            <label style="font-size:larger;color:#69CDA2">&bull;&nbsp;</label><label style="font-size:large;"> They may have already taken small steps and are moving towards their goal.</label>
        </div>    
      <div>
          <label style="font-size:larger;color:#69CDA2">&bull;&nbsp;</label><label style="font-size:large;"> Slipping back is common – especially among individuals with unrealistic goals or those who haven’t adequately prepared…</label>
          <label style="font-size:large;height:10px;"><span style="font-size:larger;float:left"></span>&nbsp;&nbsp; so coach expectations and be there when they have doubts.</label>
      </div> 
    </div>
     
  
    <div style="padding-right:7em;padding-left:7em;padding-bottom:43em;padding-top:1em;">

        <div>
            <h3 style="color:black">Study Coach Principles</h3>
            <div>
                <label style="font-size:large;height:30px"><span style="font-size:larger;color:#69CDA2;float:left">&bull;&nbsp;</span> Encourage, excite and empower through praise, compliments and support.</label>
                <label style="font-size:large;height:30px"><span style="font-size:larger;color:#69CDA2;float:left">&bull;&nbsp;</span> Problem Solve: describe how others have succeeded.</label>
                <label style="font-size:large;height:30px;min-width:800px;"><span style="font-size:larger;color:#69CDA2;float:left">&bull;&nbsp;</span> Keep interventions short and focused.</label>
                <label style="font-size:large;height:30px"><span style="font-size:larger;color:#69CDA2;float:left">&bull;&nbsp;</span> Assist students with planning ahead to prevent lapses.</label>
                <label style="font-size:large;height:30px"><span style="font-size:larger;color:#69CDA2;float:left">&bull;&nbsp;</span> Simply be there to provide support during stressful or demanding times.</label>
            </div>
            <h3 style="color:black">Study Coach Strategies</h3>
            <div style="width:420px;float:left">
                <h4 style="color:#69CDA2">1. ACTION PLANNING </h4>
                <div style="padding-bottom:3em;">
                    <label style=" font-size:large;height:30px">
                        Weigh the PROS of the course (eg ‘sense of independence’, ‘future opportunities’) vs the CONS (eg ‘it will take time and energy and I might embarrass myself’, ‘fear of failure’).
                    </label>
                </div>
                <div>
                    <label style="font-size:large;height:30px"><span style="font-size:larger;color:#69CDA2;float:left">&bull;&nbsp;</span> Together, set specific, realistic and measurable Action Plans.</label>
                </div>
                <div>
                    <label style="font-size:large;height:30px;padding-top:0.5em"><span style="font-size:larger;color:#69CDA2;float:left">&bull;&nbsp;</span> Role play course-end tests…how should they react, what should they expect, what to do if their fail the first time?</label>
                </div>
                <h4 style="padding-top:1em;color:#69CDA2">2. POSITIVITY</h4>
                <div>
                    <label style="font-size:large;height:30px;padding-top:0.5em"><span style="font-size:larger;color:#69CDA2;float:left">&bull;&nbsp;</span>Ask what benefits the course is already delivering.</label>
                </div>
                <div>
                    <label style="font-size:large;height:30px;padding-top:0.5em"><span style="font-size:larger;color:#69CDA2;float:left">&bull;&nbsp;</span>Remind students that they’re likely to be unable to complete study sometimes, but this happens to</label>
                    <label style="font-size:large;height:30px;padding-top:1em"><span style="font-size:larger;float:left"></span>&nbsp;&nbsp; everybody, they just have to “keep on</label>
                    <label style="font-size:large;height:30px;"><span style="font-size:larger;float:left"></span>&nbsp;&nbsp; putting one foot in front of the other”.</label>
                </div>
                <div>
                    <label style="font-size:large;height:30px"><span style="font-size:larger;color:#69CDA2;float:left">&bull;&nbsp;</span>Describe others who have succeeded in completing the course.</label>
                </div>
                <div>
                    <label style="font-size:large;height:30px;padding-top:1em"><span style="font-size:larger;color:#69CDA2;float:left">&bull;&nbsp;</span>Perhaps refer the student to groups/other students, which will enhance their peer group and support.</label>
                </div>
            </div>
        </div>
        <div style="width:420px;float:left">
            <h4 style="color:#69CDA2">3. REINFORCE SELF-IMAGE</h4>
            <div>
                <label style="font-size:large;height:30px"><span style="font-size:larger;color:#69CDA2;float:left">&bull;&nbsp;</span>Ask what benefits the course is already delivering.</label>
            </div>
            <div>
                <label style="font-size:large;height:30px"><span style="font-size:larger;color:#69CDA2;float:left">&bull;&nbsp;</span>Remind students that they’re likely to be unable to complete study sometimes, but this happens to </label>
                <label style="font-size:large;height:30px;padding-top:0.5em"><span style="font-size:larger;float:left"></span>&nbsp;&nbsp; everybody, they just have to “keep on putting</label>
                <label style="font-size:large;height:30px"><span style="font-size:larger;float:left"></span>&nbsp;&nbsp; one foot in front of the other”.</label>
            </div>
            <div>
                <label style="font-size:large;height:30px"><span style="font-size:larger;color:#69CDA2;float:left">&bull;&nbsp;</span>Describe others who have succeeded in completing the course.</label>
            </div>
            <div>
                <label style="font-size:large;height:30px"><span style="font-size:larger;color:#69CDA2;float:left">&bull;&nbsp;</span>Perhaps refer the student to groups/other students, which will enhance their peer group and support.</label>
            </div>
            <h4 style="color:#69CDA2;padding-top:1.5em">4. THINK OF THE FUTURE</h4>
            <div>
                <label style="font-size:large;height:30px"><span style="font-size:larger;color:#69CDA2;float:left">&bull;&nbsp;</span>Consider what they’re going to do after the course.</label>
            </div>
            <div>
                <label style="font-size:large;height:30px"><span style="font-size:larger;color:#69CDA2;float:left">&bull;&nbsp;</span>How are they going to fill the study time?</label>
            </div>
            <div>
                <label style="font-size:large;height:30px"><span style="font-size:larger;color:#69CDA2;float:left">&bull;&nbsp;</span>Would they want to do another course etc?</label>
            </div>
        </div>
    </div>
@Html.Partial("_PdfDetailsPartial", Model)