@model A4EPARC.ViewModels.ClientViewModel
@{
    Layout = "~/Views/Shared/_SilverPdfLayout.cshtml";
}
<div style="padding-right:2em;padding-left:2em;padding-top:2em;padding-bottom:0.5em; background-color:white;">
    <h4 style="color:black">WHAT THIS STUDENT IS THINKING:</h4>
    <div>
        <label style="font-size:larger;color:#FFCC00">&bull;&nbsp;</label><label style="font-size:large;"> Such Students are trying, but finding some aspects of the course difficult: usually time requirements, distractions</label>
        <label style="font-size:large;height:25px"><span style="font-size:larger;float:left"></span>&nbsp;&nbsp; and the requirement for support.</label>
    </div>
    <div>
        <label style="font-size:larger;color:#FFCC00">&bull;&nbsp;</label><label style="font-size:large;"> This Student might have felt “coerced” onto the course, or they’ve leapt onto the course without really understanding</label>
        <label style="font-size:large;height:25px"><span style="font-size:larger;float:left"></span>&nbsp;&nbsp; what is involved. So the Study Coach must remind them of the benefits.</label>
    </div>
    <div>
        <label style="font-size:larger;color:#FFCC00">&bull;&nbsp;</label><label style="font-size:large;"> They will have self-doubts, so remind them of their Strengths and achievements so far.</label>
    </div>
</div>

<div style="padding-right:2em;padding-left:2em;">
    <h4 style="color:black">Study Coach Principles</h4>
    <div>
        <div style="padding-bottom:0em">
            <label style="font-size:large;height:25px"><span style="font-size:larger;color:#FFCC00;float:left">&bull;&nbsp;</span> Praise participants for steps that are being taken.</label>
        </div>
        <div style="padding-bottom:0em">
            <label style="font-size:large;height:25px"><span style="font-size:larger;color:#FFCC00;float:left">&bull;&nbsp;</span> Reiterate them of the ‘point’ of the course.</label>
        </div>
        <div style="padding-top:0.5em">
            <label style="font-size:large;height:25px"><span style="font-size:larger;color:#FFCC00;float:left">&bull;&nbsp;</span> Ask them for examples of where they’ve successfully achieved a goal before: driving tests, exams, moving house, asking someone out on a date etc.</label>
        </div>
    </div>
</div>

<div style="padding-right:2em;padding-left:2em;padding-bottom:42em;">
    <h4 style="color:black">Study Coach Strategies</h4>
    <div style="width:425px;float:left">
        <h4 style="color:black">1. FOCUS ON THE “PROS” </h4>
        <div style="padding-bottom:3em;">
            <label style=" font-size:large;height:25px">
                Weigh the PROS (eg ‘sense of independence’, ‘future opportunities’) vs the CONS (eg ‘it will take time and energy and I might embarrass myself’, ‘fear of failure’).
            </label>
        </div>
        <div>
            <label style="font-size:large;height:25px"><span style="font-size:larger;color:#FFCC00;float:left">&bull;&nbsp;</span> Ask these students to name as many benefits of the course as they can (they’ll typically name around</label>
            <label style="font-size:large;height:25px;padding-top:0.5em"><span style="font-size:larger;float:left"></span>&nbsp;&nbsp; 3. Keep these for future reference.)</label>
        </div>
        <div>
            <label style="font-size:large;height:25px"><span style="font-size:larger;color:#FFCC00;float:left">&bull;&nbsp;</span> Let them know there are double or triple that many, and challenge them to name more.</label>
        </div>
        <div>
            <label style="font-size:large;height:25px;padding-top:0.5em"><span style="font-size:larger;color:#FFCC00;float:left">&bull;&nbsp;</span> Then run through your list of the Pros of the course that they might have missed out.</label>
        </div>
        <h4 style="padding-top:1em;color:black">2. RAISE RESILIENCE</h4>
        <div style="padding-bottom:1em">
            <label style="font-size:large;height:25px">The student is likely to be hiding from doubts and issues. Raise the student’s awareness of their own doubts, “are there any issues that might prevent you from finishing this course?”</label>
        </div>
        <div style="padding-bottom:0.5em;padding-top:3em;">
            <label style="font-size:large;height:25px;"><span style="font-size:larger;color:#FFCC00;float:left">&bull;&nbsp;</span> Normalise these doubts by saying, “yes, many people initially have issues with finding the time/course</label>
            <label style="font-size:large;height:25px;padding-top:0.5em"><span style="font-size:larger;float:left"></span>&nbsp;&nbsp; content/interest, then overcome it.”</label>
        </div>
        <div>
            <label style="font-size:large;height:25px;"><span style="font-size:larger;color:#FFCC00;float:left">&bull;&nbsp;</span> Reassure them that you’re there for them.</label>
        </div>
        <div style="padding-bottom:0.5em;">
            <label style="font-size:large;height:25px;"><span style="font-size:larger;color:#FFCC00;float:left">&bull;&nbsp;</span> Ask students about issues they’ve overcome in the past – driving tests, exams, asking someone out, buying a</label>
            <label style="font-size:large;height:25px;padding-top:0.5em"><span style="font-size:larger;float:left"></span>&nbsp;&nbsp; house, moving home etc. Ask how did they find the</label>
            <label style="font-size:large;height:25px"><span style="font-size:larger;float:left"></span>&nbsp;&nbsp; strength and resilience to succeed in the end?</label>
        </div>
    </div>
    <div style="width:425px;float:left">
        <div style="padding-top:1em">
            <label style="font-size:large;height:10px"><span style="font-size:larger;float:left"></span>&nbsp;&nbsp; Affirm that they were strong and determined to achieve</label>
            <label style="font-size:large;height:10px"><span style="font-size:larger;float:left"></span>&nbsp;&nbsp; those things.</label>
        </div>
        <div style="padding-top:1em">
            <label style="font-size:large;height:25px;"><span style="font-size:larger;color:#FFCC00;float:left">&bull;&nbsp;</span> Offer tips on finding private time and space to study, on dealing with family to allow them to progress with</label>
            <label style="font-size:large;height:25px;padding-top:0.5em"><span style="font-size:larger;float:left"></span>&nbsp;&nbsp; their studies.</label>
        </div>
        <h4 style="padding-top:0.1em;color:black">3. BUILD SELF-EFFICACY</h4>
        <div style="padding-bottom:1em">
            <label style="font-size:large;height:25px">Use the “SCALING” technique: Ask them to score out of 10 (1 being ‘very poor’ and 10 being ‘great’) on how well they’re doing on the course. If they say “2” ask “why a 2,</label>
            <label style="font-size:large;height:25px;padding-top:2em"><span style="font-size:larger;float:left"></span>why not a 1?” and build on those positives. Ask</label>
            <label style="font-size:large;height:25px;padding-top:0.5em"><span style="font-size:larger;float:left"></span>“How can we get you to a 3?” This builds only</label>
            <label style="font-size:large;height:25px"><span style="font-size:larger;float:left"></span>positives, even if the student is feeling negative.</label>
        </div>
        <div>
            <label style="font-size:large;height:25px"><span style="font-size:larger;color:#FFCC00;float:left">&bull;&nbsp;</span> Identify the distractions in their life – what’s likely to prevent them from finding enough study time.</label>
            <label style="font-size:large;height:25px;padding-top:0.5em"><span style="font-size:larger;float:left"></span>&nbsp;&nbsp; What are practical strategies for the student to make time</label>
            <label style="font-size:large;height:25px;padding-top:0.5em"><span style="font-size:larger;float:left"></span>&nbsp;&nbsp; and minimise distractions.</label>
        </div>
        <div>
            <label style="font-size:large;height:25px;"><span style="font-size:larger;color:#FFCC00;float:left">&bull;&nbsp;</span> Plan specific activities for the first part of the course.</label>
        </div>
        <div>
            <label style="font-size:large;height:25px"><span style="font-size:larger;color:#FFCC00;float:left">&bull;&nbsp;</span> Set SMALL STEPS – highly achievable ones – and measure achievement of these. This will build a</label>
            <label style="font-size:large;height:25px;padding-top:0.5em"><span style="font-size:larger;float:left"></span>&nbsp;&nbsp; perception of “self-efficacy” in the student –</label>
            <label style="font-size:large;height:25px;"><span style="font-size:larger;float:left"></span>&nbsp;&nbsp; they can achieve what they set their mind to.</label>
        </div>
    </div>
</div>
@Html.Partial("_PdfDetailsPartial", Model)