@if (Context.User.IsInRole("IsSuperAdmin"))
{
 <form id="superAdminUserListForm">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Users</h3>
        </div>
          <div class="panel-body form-horizontal">
            <div class="input-group col-sm-8 col-md-6">
                <input type="text" class="form-control" name="emailaddress" id="superadminemailaddress">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" id="superadminsearchbutton" name="searchbutton">Search Email</button>
                </span>
            </div>
        </div>
        <div id="superadminuserlist"></div>
    </div>
 </form>
}
else if (Context.User.IsInRole("IsAdmin"))
{
 <form id="userListForm">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Users</h3>
        </div>
           <div class="panel-body form-horizontal">
             <div class="input-group col-sm-8 col-md-6">
                <input type="text" class="form-control" name="emailaddress" id="emailaddress">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" id="searchbutton" name="searchbutton">Search Email</button>
                </span>
            </div>
        </div>
        <div id="userlist"></div>
    </div>
 </form>
}             