@model A4EPARC.ViewModels.ClientViewModel

    <div class="container form-horizontal">
    <input type="hidden" id="SchemeId" value=@Model.SchemeId />
    @Html.Partial("_GlsInterventionGuide", Model)

<br />  

        <div class="form-group">
            <div class="col-md-offset-3 col-md-2">
                <a class="btn btn-primary" href="/Home/Index">Back to Home <span class="glyphicon glyphicon-backward"></span></a>
            </div>
            <div class="col-md-offset-1 col-md-4">
                <a class="btn btn-primary" href="/Results/GenerateGlsPdf/@Model.Id">PDF <span class="glyphicon glyphicon-download-alt"></span></a>
            </div>
            <br />
            <br />
        </div>
</div>  