@model A4EPARC.ViewModels.ClientViewModel
@using A4EPARC.Services

@using (Html.BeginForm("PageTwo", "Survey", FormMethod.Post, new { @class = "form-horizontal surveyPageTwo", id = "surveyPage", role = "form" }))
{
   <input type="hidden" name="SchemeId" value="@Model.SchemeId" id="SchemeId" />

  <div class="container" id="pagetwoform">            
        <hr class="divider"/>
        @Html.Partial("_AimStatement", @Model)
      <br/> 
      @Html.Partial("_QuestionsGrid", @Model)
 </div> 
    <br/>
    <br/>
    <div class="form-group">
        <div class="col-md-6 col-md-offset-6">
            <input type="submit" value="@LabelService.Get("Next", "Next", Model.SiteLabels, Model.SchemeId)" class="btn btn-primary" id="Next" />
        </div>
    </div>          
}